/*  overall styles */

body {
  box-sizing: border-box;
  max-width: 100%;
  color: rgb(13,24,43)
}

/* header styles */

header {
  background: #000000 url(../images/mountain-sky.jpg) 100% 100%;
  background-size: cover;
  background-position: center;
  height: 720px;
  text-align: center;
  position: sticky;
  top: calc(-100% + 80px);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 4em;
  color: white;
  margin-top: 0;
  padding-top: 110px;
}

h1, h2 {
  font-family: "Arvo", serif;
  font-weight: 700;
}

#headerH3 {
  color: white;
  font-size: 1.5em;
  font-family: "Arvo", serif;
}

/* main nav styles */

#stickyNav {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #0D182B;
}

#stickyNav a {
  font-family: "Arvo", serif;
  font-weight: 400;
  text-decoration: none;
  margin-left: 2em;
  margin-right: 2em;
  color: white;
  display: inline-block;
  transition: all .3s ease-in-out;
}

#stickyNav a:hover {
  color: #D4CEBE;
  border-bottom: 1px solid #D4CEBE;
  margin-bottom: -1px;
}

.scrolledTo {
  border-bottom: 1px solid #D4CEBE;
}

/* side nav styles */

.material-icons {
  color: #0D182B;
  display: none;
}

.sidenav {
  transition: all .3s ease-in-out;
}

.sidenav li:hover {
  background-color: #D4CEBE;
}

/* site content styles */

#mainContent {
  margin-left: 2em;
  margin-right: 2em;
}

h2 {
  font-size: 3em;
}

h5 {
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
}

#aboutContent {
  display: flex;
  justify-content: space-around;
}

li {
  font-family: "Roboto", sans-serif;
}

.card-action a {
  color: #0D182B;
}

.card-action a:hover {
  color: #D4CEBE;
}

.testimonials p {
  display: block;
}

.testimonials {
  background-color: rgba(13,24,43,1);
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  min-height: 200px;
}

/* contact form styles */

input::placeholder, textarea::placeholder {
  font-family: "Roboto", sans-serif;
}

input, textarea, button {
  margin-top: 2em;
}

textarea {
  height: 5em;
}

button {
  font-family: "Arvo", serif;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  alignment: center;
  background-color: #D4CEBE;
  transition: .3s all ease-in-out;
}

#myButton:active, #myButton:focus {
  color: white;
  background-color: #0D182B;
}

#myButton:hover {
  cursor: pointer;
  color: white;
  background-color: #0D182B;
}

#formEmail:focus, #formFullName:focus {
  border-bottom: 1.5px solid #0D182B;
}

/* footer styles */

footer {
  font-family: "Roboto", sans-serif;
  margin-top: 2em;
  background-color: #0D182B;
  color: white;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-right: -2em;
  margin-left: -2em;
}

footer a {
  color: white;
  display: inline-block;
  margin-left: 4em;
  margin-right: 4em;
  font-size: 1.6em;
}

footer a:hover {
  color: #D4CEBE;
}

textarea {
  border-color: #0D182B;
}

/* media queries */

@media screen and (max-width: 602px) {
  .material-icons {
    display: block;
    margin-top: 30px;
  }

  #stickyNav {
    display: none;
  }

  header {
    top: calc(-101%);
  }
}
