
/* smooth scrolling */
@media all and (mid-width: 400px) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  box-sizing: border-box;
  max-width: 100%;
  color: rgb(13,24,43)
}

header {
  background: #000000 url(../images/mountain-sky.jpg) 100% 100%;
  background-size: cover;
  background-position: center;
  height: 720px;
  text-align: center;
  position: sticky;
  top: calc(-100% + 80px);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mainContent {
  margin-left: 2em;
  margin-right: 2em;
}

#stickyNav {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #0D182B;
}

#stickyNav a {
  font-family: "Arvo", serif;
  font-weight: 400;
  text-decoration: none;
  margin-left: 2em;
  margin-right: 2em;
  color: white;
  display: inline-block;
  /* padding: 10px; */
  border-radius: 15px;
}

.navClick {
  border-bottom: 1px solid white;
}

h1, h2 {
  font-family: "Arvo", serif;
  font-weight: 700;
}

h2 {
  font-size: 3em;
}

#headerH3 {
  color: white;
  font-size: 1.5em;
  font-family: "Arvo", serif;
}


h1 {
  font-size: 4em;
  color: white;
  margin-top: 0;
  padding-top: 110px;
}

h5 {
  color: white;
}


p {
  font-family: "Roboto", sans-serif;
}

#aboutContent {
  display: flex;
  justify-content: space-around;
}

/* ul {
  list-style-type: none;
  text-align: left;
  align-self: center;
} */

li {
  font-family: "Roboto", sans-serif;
}


.testimonials p {
  display: block;
}

.testimonials {
  background-color: rgba(13,24,43,1);
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  min-height: 200px;
}


input::placeholder, textarea::placeholder {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Arvo", serif;
}

footer {
  font-family: "Roboto", sans-serif;
}
